# Projeye Özel Yapılandırma ve Hassas Dosyalar
backend/src/Infera.Api/appsettings.json
backend/src/Infera.Api/appsettings.Development.json
frontend/.env
frontend/node_modules/
backend/**/bin/
backend/**/obj/

# Build & Çıktı Dosyaları
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# JetBrains Rider
.idea/

# VS Code
.vscode/

# Loglar
*.log

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db